.clipItem {
  position: absolute;
  height: 10vh;
  background-color: aqua;
  text-align: center;
  line-height: 10vh;
  transition: 0.5s all linear;
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  letter-spacing: 7px;
}