* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

input {
  border: 1px solid #ffffff;
  background-color: transparent;
  height: 30px;
  border-radius: 10px;
  padding-left: 10px;
}
input:focus {
  outline: none;
}
